---
import BlockTitle from '@components/BlockTitle.astro';
import Container from '@components/Container.astro';
import ServiceCard from './ServiceCard.astro';

const SERVICES_DATA = [
  {
    image: 'asesoria',
    title: 'Asesoría en Inversión para compra de Bienes',
    text: 'Usos del suelo, edificabilidad, etc.',
    description: 'Antes de comprar cerciorarse que el uso del suelo sea el adecuado para sus necesidades.',
  },
  {
    image: 'planos',
    title: 'Planos y diseños constructivos',
    text: 'Juegos de planos y estudios interdisciplinarios para el buen desarrollo de las obras.',
    description: 'Esto previene gastos y reprocesos innecesarios de las mismas.',
  },
  {
    image: 'renovacion',
    title: 'Construcción, actualización y renovación de inmuebles',
    text: 'Adecuaciones, remodelaciones, reforzamientos estructurales.',
    description: 'No permita que sus inmuebles se desvaloricen, manteniendolos siempre a la vanguardia.',
  },
  {
    image: 'permisos',
    title: 'Gestión de permisos ante las instituciones reguladoras',
    text: 'Curaduría, servicios públicos, habitad, notariado y registro.',
    description:
      'Licencias de construcción, acometidas de servicios, declaraciones y reconocimientos de construcción, etc.',
  },
];
---

<section id='services' class='py-20 bg-white'>
  <Container>
    <BlockTitle slogan='Servicios' title='Conoce como podemos ayudarte' />
    <div class='flex flex-col sm:flex-row h-[40rem] sm:h-80 gap-4 mt-12'>
      {
        SERVICES_DATA.map(({title, text, image, description}) => (
          <ServiceCard title={title} text={text} image={image} description={description} />
        ))
      }
    </div>
  </Container>
</section>
