---
import BlockTitle from '@components/BlockTitle.astro';
import Container from '@components/Container.astro';
import ServiceCard from './ServiceCard.astro';

const SERVICES_DATA = [
  {
    image: 'asesoria',
    title: 'Asesoramos a la hora de invertir en la compra bienes raíces.',
    text: 'Antes de comprar cerciórese de que el uso del suelo sea el adecuado para sus necesidades.',
    description: 'Usos permitidos del suelo, Factores de edificabilidad, Planes de desarrollo futuros.',
  },
  {
    image: 'planos',
    title: 'Planos y diseños constructivos',
    text: 'Realizamos planos y diseños constructivos para prevenir gastos y reprocesos innecesarios.',
    description: 'Juegos de planos, Estudios interdisciplinarios para el buen desarrollo de las obras.',
  },
  {
    image: 'renovacion',
    title: 'Construcción, actualización y renovación de inmuebles',
    text: 'No permita que sus inmuebles se desvaloricen y/o devalúen.',
    description:
      'Mantenimiento y modernización de infraestructuras, Adecuaciones, remodelaciones y reforzamientos estructurales.',
  },
  {
    image: 'permisos',
    title: 'Gestión de permisos y trámites ante las entidades de vigilancia, control y regulación.',
    text: 'Curadurías, empresas de servicios públicos, secretarías de hábitat, Superintendencia de notariado y registro, Catastro, etc.',
    description:
      'Licencias de construcción, acometidas de servicios, declaraciones y reconocimientos de construcción, etc.',
  },
];
---

<section id='services' class='py-20 bg-white'>
  <Container>
    <BlockTitle slogan='Servicios' title='Conoce como podemos ayudarte' />
    <div class='flex flex-col sm:flex-row h-[40rem] sm:h-80 gap-4 mt-12 custom-animation'>
      {
        SERVICES_DATA.map(({title, text, image, description}) => (
          <ServiceCard title={title} text={text} image={image} description={description} />
        ))
      }
    </div>
  </Container>
</section>
