---
import BlockTitle from '@components/BlockTitle.astro';
import ServiceCard from './ServiceCard.astro';

const SERVICES_DATA = [
  {
    icon: 'zlwsgwzg',
    title: 'Asesoría en Inversión para compra de Bienes',
    text: 'Usos del suelo, edificabilidad, etc',
  },
  {
    icon: 'alzqexpi',
    title: 'Planos y estudios constructivos',
    text: 'Juegos de planos y estudios interdisciplinarios para el buen desarrollo de las obras',
  },
  {
    icon: 'xvvcdete',
    title: 'Actualización y renovación de inmuebles',
    text: 'Adecuaciones, remodelaciones, reforzamientos estructurales.',
  },
  {
    icon: 'kjkiqtxg',
    title: 'Gestión de permiso de las instituciones reguladoras',
    text: 'Curaduría, servicios públicos, habitad',
  },
];
---

<section id='services' class='pt-20 2xl:pt-40 max-w-5xl mx-auto bg-white'>
  <BlockTitle slogan='Servicios' title='Conoce como podemos ayudarte' />
  <div class='grid px-4 gap-7 2xl:gap-14 grid-cols-1 md:grid-cols-2 lg:grid-cols-4'>
    {
      SERVICES_DATA.map((service, index) => (
        <ServiceCard className='' title={service.title} text={service.text} icon={service.icon} />
      ))
    }
  </div>
</section>
