---
import BlockTitle from '@components/BlockTitle.astro';
import Container from '@components/Container.astro';
import ServiceCard from './ServiceCard.astro';

const SERVICES_DATA = [
  {
    image: 'asesoria',
    title: 'Asesoría en Inversión para compra de Bienes',
    text: 'Usos del suelo, edificabilidad, etc',
  },
  {
    image: 'planos',
    title: 'Planos y estudios constructivos',
    text: 'Juegos de planos y estudios interdisciplinarios para el buen desarrollo de las obras',
  },
  {
    image: 'renovacion',
    title: 'Actualización y renovación de inmuebles',
    text: 'Adecuaciones, remodelaciones, reforzamientos estructurales.',
  },
  {
    image: 'permisos',
    title: 'Gestión de permiso de las instituciones reguladoras',
    text: 'Curaduría, servicios públicos, habitad',
  },
];
---

<section id='services' class='py-20 bg-white'>
  <Container>
    <BlockTitle slogan='Servicios' title='Conoce como podemos ayudarte' />
    <div class='flex flex-col sm:flex-row h-[40rem] sm:h-80 gap-4 mt-12'>
      {SERVICES_DATA.map(({title, text, image}) => <ServiceCard title={title} text={text} image={image} />)}
    </div>
  </Container>
</section>
