---
const {title, className, text, image, description} = Astro.props;
---

<article
  style={`background-image: url('/images/${image}.webp')`}
  class={`relative overflow-hidden flex-auto shrink-0 sm:flex-1 text-left transition-all duration-500 rounded sm:rounded-lg hover:flex-[3] bg-no-repeat bg-center group`}
>
  <div
    class='absolute p-8 inset-0 transition-all duration-300 group-even:bg-D2153D/50 group-odd:bg-00215B/50 group-hover:bg-black/30'
  >
    <h3 class='font-semibold text-white text-xl'>{title}</h3>
    <p class='invisible group-hover:visible delay-300 text-EBECEE font-medium text-base max-w-prose'>{text}</p>
    <p class='invisible group-hover:visible delay-300 text-EBECEE text-sm max-w-prose'>{description}</p>
  </div>
</article>
