---
import AboutUs from '@components/about-us/AboutUs.astro';
import Banner from '@components/banner/Banner.astro';
import Boost from '@components/boost/Boost.astro';
import Gallery from '@components/gallery/Gallery.astro';
import Services from '@components/services/Services.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='AV Architect Solutions'>
  <main class='transition-colors duration-1000'>
    <Banner />
    <Boost />
    <AboutUs />
    <Services />
    <Gallery />
  </main>
</Layout>
