---
import Container from '@components/Container.astro';
import Menu from './Menu.astro';
import TopBar from './TopBar.astro';
---

<header class='bg-white sticky top-0 transition-colors duration-1000 z-10 py-2 drop-shadow'>
  <Container>
    <div class='flex justify-center sm:justify-between'>
      <a href='/' class='mr-2'>
        <img
          class='w-20 h-20 sm:w-14 sm:h-14 aspect-square'
          src='/logos/logo_3.webp'
          alt='Logo AV'
          width='500'
          height='500'
          loading='lazy'
          decoding='async'
        />
      </a>
      <nav class='flex-1 flex flex-col justify-end'>
        <TopBar />
        <Menu />
      </nav>
    </div>
  </Container>
</header>
<script type='module'>
  const buttons = document.querySelectorAll(`[data-confetti-button]`);
  buttons.forEach(button => {
    button.addEventListener('click', e => {
      e.stopPropagation();
      const data = {
        title: 'AV Architect Solutions',
        text: 'Arquitectos, Ingenieros, Licencias de Construcción, Planos, Remodelaciones, mantenimiento y reparaciones locativas. Damos soluciones prácticas, rápidas e integrales a sus proyectos.',
        url: 'https://avarchitectsolutions.vercel.app/',
      };
      if (navigator && navigator.canShare && navigator.canShare(data)) {
        navigator.share(data);
      } else {
        console.warn('Cann´t share ' + navigator);
        alert('Cann´t share ' + navigator.canShare);
      }
    });
  });
</script>
