---
import Container from '@components/Container.astro';
import TopBar from './TopBar.astro';

const menu = [
  {
    name: 'Inicio',
    href: '/',
  },
  {
    name: 'Servicios',
    href: '/#services',
  },
  {
    name: 'Galería',
    href: '/#gallery',
  },
];
---

<header class='bg-white sticky top-0 transition-colors duration-1000 z-10 py-2'>
  <Container>
    <TopBar />
    <nav class='flex flex-col sm:flex-row justify-between items-center'>
      <a href='/' class='dark:text-slate-300'>
        <img
          class='w-10 h-10 aspect-square'
          src='/logos/logo_1.webp'
          alt='Logo AV'
          width='500'
          height='500'
          loading='lazy'
        />
      </a>
      <ul class='flex pt-2 sm:pt-0 gap-4 lg:gap-8'>
        {
          menu.map(({name, href}) => (
            <li>
              <a
                href={href}
                class={`block py-2 pl-3 transition pr-4 text-gray-700 dark:text-gray-400 rounded hover:bg-gray-100 lg:hover:bg-transparent lg:border-0 lg:hover:text-blue-700 sm:p-0`}>
                {name}
              </a>
            </li>
          ))
        }
      </ul>
      <!-- <ButtonCTA /> -->
    </nav>
  </Container>
</header>
