---
import Container from '@components/Container.astro';
import Menu from './Menu.astro';
import TopBar from './TopBar.astro';
---

<header class='bg-white sticky top-0 transition-colors duration-1000 z-10 py-2'>
  <Container>
    <div class='flex justify-between'>
      <a href='/' class='mr-2'>
        <img
          class='w-14 h-14 aspect-square'
          src='/logos/logo_1.webp'
          alt='Logo AV'
          width='500'
          height='500'
          loading='lazy'
        />
      </a>
      <nav class='flex-1 flex flex-col justify-end'>
        <TopBar />
        <Menu />
      </nav>
    </div>
  </Container>
</header>
