---
const {title, slogan} = Astro.props;
---

<div class='text-center'>
  <h6 class='text-D2153D font-medium text-lg sm:text-base'>{slogan}</h6>
  <h2 class='text-16213E font-semibold text-2xl sm:text-3xl leading-tight'>
    {title}
  </h2>
</div>
