---
const {title, slogan} = Astro.props;
---

<div class='text-center'>
  <h4 class='text-D2153D font-medium uppercase text-2xl sm:text-3xl border-b-2 border-OO1ED3 inline px-2'>{slogan}</h4>
  <h3 class='text-16213E font-semibold text-2xl sm:text-3xl leading-tight'>
    {title}
  </h3>
</div>
