---
// import Share from './icons/Share.astro';
---

<button id='share' class='text-slate-400 hover:text-blue-700 dark:hover:text-white'>
  <svg class='w-5 h-5' viewBox='0 0 24 24' fill='currentColor' xmlns='http://www.w3.org/2000/svg'
    ><path
      d='M19 9a4 4 0 1 0-4-4 3.931 3.931 0 0 0 .177 1.112L8.061 9.456a4 4 0 1 0 0 5.088l7.116 3.344A3.931 3.931 0 0 0 15 19a4.01 4.01 0 1 0 1.194-2.845L8.925 12.74a3.683 3.683 0 0 0 0-1.479l7.269-3.416A3.989 3.989 0 0 0 19 9Zm0-6a2 2 0 1 1-2 2 2 2 0 0 1 2-2ZM5 14a2 2 0 1 1 2-2 2 2 0 0 1-2 2Zm14 3a2 2 0 1 1-2 2 2 2 0 0 1 2-2Z'
    ></path></svg
  >
  <span class='sr-only'>Share button</span>
</button>

<script type='module'>
  const btnShare = document.querySelector('#share');
  btnShare.addEventListener('click', e => {
    const data = {
      title: 'Aragrevo Dev',
      text: 'Hello!, This is my portfolio, thanks for share',
      url: 'https://website-aragrevo.vercel.app/',
    };
    if (navigator && navigator.canShare && navigator.canShare(data)) {
      navigator.share(data);
    } else {
      console.warn('Cann´t share ' + navigator);
    }
  });
</script>
