---
import BlockTitle from '@components/BlockTitle.astro';
import Container from '@components/Container.astro';
import GalleryCard from './GalleryCard.astro';

const GALLERY_DATA = [
  {
    image: '/images/20.jpg',
    title: 'Adecuaciones',
  },
  {
    image: '/images/8.jpg',
    title: 'Remodelaciones',
  },
  {
    image: '/images/11.jpg',
    title: 'Reforzamientos estructurales',
  },
  {
    image: '/images/13.jpg',
    title: 'Planos',
  },
  {
    image: '/images/14.jpg',
    title: 'Accesos',
    span: 2,
  },
];
---

<section id='gallery' class='py-20 bg-[#F8FAFC]'>
  <Container>
    <BlockTitle slogan='Galería' title='Nuestro trabajo' />
    <div class='gap-3 mt-12 grid grid-cols-3 grid-rows-2 grid-flow-dense'>
      {GALLERY_DATA.map(({image, title, span}) => <GalleryCard key={image} image={image} title={title} span={span} />)}
    </div>
  </Container>
</section>
<img
  class='w-full h-auto max-h-48 sm:max-h-80 aspect-[640/427] object-cover object-bottom'
  width='640'
  height='427'
  src='/images/plane.jpg'
  alt=''
  loading='lazy'
  decoding='async'
/>
