---
import BlockTitle from '@components/BlockTitle.astro';
import Container from '@components/Container.astro';
import GalleryCard from './GalleryCard.astro';

const GALLERY_DATA = [
  {
    image: '/images/20.webp',
    title: 'Adecuaciones',
  },
  {
    image: '/images/8.webp',
    title: 'Remodelaciones',
  },
  {
    image: '/images/11.webp',
    title: 'Reforzamientos estructurales',
  },
  {
    image: '/images/13.webp',
    title: 'Planos',
  },
  {
    image: '/images/planos.webp',
    title: 'Accesos',
    span: 2,
  },
];
---

<section id='gallery' class='py-20 bg-[#F8FAFC]'>
  <Container>
    <BlockTitle slogan='Galería' title='Nuestro trabajo' />
    <div class='gap-3 mt-12 grid grid-cols-3 grid-rows-2 grid-flow-dense custom-animation'>
      {GALLERY_DATA.map(({image, title, span}) => <GalleryCard key={image} image={image} title={title} span={span} />)}
    </div>
  </Container>
</section>
