<div class='absolute inset-0 p-2 bg-white shadow-md'>
  <img
    class='w-full h-full object-contain aspect-auto'
    width='640'
    height='424'
    src='/images/photo.jpg'
    alt='Arq Hugo Andres Vasquez'
    loading='lazy'
  />
</div>
