---
import {email, siteUrl} from '@db/data';
---

<form action={`https://formsubmit.co/${email}`} method='POST' class='appearance-none w-full flex flex-col py-4'>
  <input type='hidden' name='_captcha' value='false' />
  <!-- <input type='hidden' name='_next' value={siteUrl} /> -->
  <input type='text' name='_honey' style='display:none' />
  <input type='hidden' name='_template' value='basic' />
  <div class='flex gap-2 mb-4'>
    <div class='flex-1'>
      <label for='name' class='block mb-2 text-sm font-normal text-EBECEE'>Nombre</label>
      <input
        type='text'
        id='name'
        name='name'
        class='bg-EBECEE border border-EBECEE text-gray-900 text-sm rounded-lg outline-none focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5'
        placeholder=''
        required
      />
    </div>
    <div class='flex-1'>
      <label for='email' class='block mb-2 text-sm font-normal text-EBECEE'>Correo</label>
      <input
        type='email'
        id='email'
        name='email'
        class='bg-EBECEE border border-EBECEE text-gray-900 text-sm rounded-lg outline-none focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5'
        placeholder='name@outlook.com'
        required
      />
    </div>
  </div>
  <div class='w-full'>
    <label for='subject' class='block mb-2 text-sm font-normal text-EBECEE'>Asunto</label>
    <textarea
      class='bg-EBECEE border border-EBECEE text-gray-900 text-sm rounded-lg outline-none focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5'
      name='subject'
      id='subject'
      minlength='10'
      required
      rows='4'></textarea>
  </div>
  <div class='mt-4'>
    <button
      type='submit'
      class='inline-block px-10 sm:px-8 pt-2.5 pb-2 rounded-lg bg-00215B hover:bg-00215B/90 scale-100 font-medium text-base shadow transition duration-150 ease-in-out active:scale-95 focus:outline-none focus:ring-0'
      >Enviar</button
    >
  </div>
</form>
