<div class='text-left sm:pr-8'>
  <h3 class='text-16213E text-2xl sm:text-4xl font-semibold'>El arte es nuestra inspiración.</h3>
  <p class='text-00215B font-bold mt-5 max-w-prose'>
    Con esto como parte de nuestro ADN, somos una empresa que presta servicios integrales en el área de la arquitectura,
    el diseño y construcción para ayudar a solucionar las necesidades de nuestros clientes.
  </p>
  <p class='text-41444B font-normal leading-relaxed mt-7 max-w-prose'>
    Nuestros servicios abarcan diferentes frentes de trabajo que van desde la consultoría, el diseño, la construcción y
    la remodelación hasta la gestión de licencias y trámites de construcción.
  </p>
  <p class='text-41444B font-normal leading-relaxed mt-2 max-w-prose'>
    Creemos firmemente que cualquier actividad o producto que realicemos para satisfacer una necesidad funcional de
    nuestros clientes, también puede tener un componente estético que le de un valor adicional diferencial.
  </p>
</div>
