<div class='text-left pr-8'>
  <h3 class='text-16213E text-2xl sm:text-4xl font-semibold'>Para AV ARCHITECT SOLUTIONS</h3>
  <p class='text-00215B font-bold mt-5 max-w-prose'>
    No existe proyecto pequeño, hasta la intervención más sencilla merece ser tratada con atención, siempre pensando en
    la satisfacción integral del cliente.
  </p>
  <p class='text-41444B font-normal leading-relaxed mt-7 max-w-prose'>
    Para esto ponemos a su disposición un grupo multidisciplinario de profesionales y técnicos colaboradores idóneos en
    el área, que se caracterizan por su compromiso, ética y aseguramiento de la calidad, pensando siempre en dar
    solución rápida e idónea a las necesidades de nuestros clientes en todas las areas de la arquitectura y la
    construcción en general.
  </p>
  <p class='text-41444B font-normal leading-relaxed mt-2 max-w-prose'>
    Sería muy honroso hacer parte de su equipo de trabajo y colaboradores.
  </p>
</div>
