---
import Container from '@components/Container.astro';
import About from './About.astro';
import Expirience from './Expirience.astro';
import Features from './Features.astro';
import Images from './Images.astro';
---

<section class='bg-white flex flex-col' id='about-us'>
  <Container>
    <div class='flex mb-16 justify-end relative'>
      <Expirience />
      <Features />
    </div>
    <div class='flex flex-wrap flex-col sm:flex-row overflow-hidden pb-2'>
      <div class='flex flex-grow-0 flex-shrink-0 basis-full sm:basis-7/12'>
        <About />
      </div>
      <div class='flex h-64 sm:h-auto flex-shrink-0 sm:basis-5/12 bg-white relative'>
        <Images />
      </div>
    </div>
  </Container>
</section>
