---
const timeExperience = new Date().getFullYear() - 1998;
---

<div
  class='bg-D2153D flex flex-col items-center justify-center w-auto px-2 sm:px-8 text-start h-40 font-Kanit overflow-hidden'
>
  <span class='text-white text-5xl sm:text-6xl w-full block font-semibold'>+{timeExperience}</span>
  <span class='text-xs sm:text-sm text-EBECEE w-full block font-light'>Años de Experiencia</span>
</div>
