<div class='absolute top-0 left-0 p-2 w-3/5 md:w-full lg:w-3/5 bg-FFD200 shadow-md'>
  <img
    class='w-full h-full object-contain'
    width='640'
    height='425'
    src='/images/crane.webp'
    alt='crane image'
    loading='lazy'
  />
</div>
<div class='absolute bottom-0 right-0 p-2 w-3/5 md:w-full lg:w-3/5 bg-DAC29E shadow-md'>
  <img
    class='w-full h-full object-contain'
    width='640'
    height='424'
    src='/images/two_men.webp'
    alt='two men see a building'
    loading='lazy'
  />
</div>
