<div class='absolute top-0 left-0 p-2 w-3/5 bg-white shadow-md'>
  <img
    class='w-full h-full object-contain'
    width='640'
    height='425'
    src='/images/crane.jpg'
    alt='person in cohete'
    loading='lazy'
  />
</div>
<div class='absolute bottom-0 right-0 p-2 w-3/5 bg-white shadow-md'>
  <img
    class='w-full h-full object-contain'
    width='640'
    height='424'
    src='/images/two_men.jpg'
    alt='person in cohete'
    loading='lazy'
  />
</div>
