---
import Container from '@components/Container.astro';
---

<section
  id='banner'
  class='banner overflow-hidden w-full relative min-h-[350px] bg-BC701C border-4 border-black box-border'
>
  <Container className='relative h-full'>
    <div class='absolute -top-1 bottom-0 left-0 right-0'>
      <img
        class='object-contain border-4 border-t-0 border-black w-full h-auto'
        width='1600'
        height='800'
        src='/images/xl-banner.webp'
        alt=''
        loading='lazy'
      />
    </div>
    <div class='absolute bottom-0 left-20 right-1/3 pl-3 pr-8'>
      <blockquote class='text-semibold text-base leading-5 text-white max-w-prose italic'>
        “El arte no está hecho para nadie, y es, al mismo tiempo, para todos.”
        <span class='block'>Piet Mondrian.</span>
      </blockquote>
    </div>
  </Container>
</section>
<style>
  .banner {
    aspect-ratio: 3/1;
  }
</style>
